<div class="container">
    <button class="btn btn-primary" (click)="getOperador('+')">+</button>
    <button class="btn btn-primary" (click)="getOperador('-')">-</button>
    <button class="btn btn-primary" (click)="getOperador('/')">÷</button>
    <button class="btn btn-primary" (click)="getOperador('*')">x</button>
    <button class="btn btn-primary" (click)="getOperador('=')">=</button>

</div>
<div class="container2">
    <button class='btn btn-primary'(click)="getOperador('.')">.</button>
    <button class='btn btn-primary'(click)="getOperador('C')">C</button>
</div>
