body {
  background-image: url("../../assets/imagenes/fondo2.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contain {
  display: flex;
  justify-content: center;
}
.row {
  background: rgb(125, 214, 223);
  background: radial-gradient(
    circle,
    rgba(125, 214, 223, 1) 0%,
    rgba(33, 96, 79, 1) 100%
  );
  padding-bottom: 90px;
  padding-top: 35px;
  border-radius: 10px;
  justify-content: center;
  gap: 0px 10px;
  margin-top: 30px;
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.calculadora {
  display: grid;
  grid-template-rows: 0.1fr 0.1fr;
  grid-template-columns: 0.1fr 0.65fr;
  grid-template-areas:
    "label0 label2"
    "label1 label2";
  padding-bottom: 10px;
}
.resultado {
  grid-area: label0;
}
.numeros {
  grid-area: label1;
}
.operadores {
  grid-area: label2;
}

img {
  width: 15%;
  height: auto;
}
.row {
  animation: flotar 3s ease infinite;
}
.operadores {
  max-width: 80px;
}
.row > * {
  padding-right: 0;
}
.footer{
transform: translateY(75%);
}
@keyframes flotar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); 
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 990px) {
  .calculadora {
    grid-template-columns: 0.1fr 0.4fr;
  }
  img {
    width: 35%;
    height: auto;
  }
}
@media screen and (max-width: 380px) {
  img {
    display: none;
  }
}
