.contenedor1 {
  background-color: thistle;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

}
router-outlet{
  display: flex;

  flex: 1;
}
.todo{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
}